

<div class="container mt-2" *ngIf="!show">
  <form  [formGroup]="UrlPostform"  (ngSubmit)="postImage()" >

    <div class="form-group mt-4">
      <input   class="form-control" placeholder="Image Name..." formControlName="imageName" />

  </div>
    <div class="form-group mt-2">
      <input type="file" accept="image/*" (change)="uploadFile($event)" />
    </div>
    <button class="btn btn-danger btn-block mb-2 mt-2">Save File</button>
  </form>
</div>

<div class="container mt-2">
<button type="submit" *ngIf="show" class="btn btn-danger btn-block mb-2 mt-2" (click)="back()">Back</button>
</div>

<app-show-data *ngIf="show" [showImage]="imageNameFromParent"></app-show-data>

<router-outlet></router-outlet>